#subjects-page-container {
    height: 100%;
    width: 100%;
    padding: 1rem;

    #plan-list {

        #plan-headder {
            display: flex;
            gap: 0.5rem;

            h1{
                flex: 1;
            }
        }

        .plan-subject-row {
            display: flex;
            gap: 0.25rem;

            .subject-text-input {
                flex: 1;
            }

            .delete-button {
                background-color: #7f1f1f;
                height: 100%;
                font-size: 1rem;
                line-height: 1rem;
                
            }
        }
    }
}